[submodule "libcsp"]
	path = libcsp
	url = https://github.com/AlbertaSat/libcsp.git
[submodule "ex2_services"]
	path = ex2_services
	url = https://github.com/AlbertaSat/ex2_services.git
[submodule "ex2_gps_software"]
	path = ex2_gps_software
	url = https://github.com/Taylorr82/ex2_gps_software
