[submodule "libcsp"]
	path = libcsp
	url = git@github.com:AlbertaSat/libcsp.git
[submodule "ex2_hal/ex2_eps_software"]
	path = ex2_hal/ex2_eps_software
	url = git@github.com:AlbertaSat/ex2_eps_software.git
[submodule "ex2_hal/ex2_uhf_software"]
	path = ex2_hal/ex2_uhf_software
	url = git@github.com:AlbertaSat/ex2_uhf_software.git
[submodule "ex2_hal/ex2_adcs_software"]
	path = ex2_hal/ex2_adcs_software
	url = git@github.com:AlbertaSat/ex2_adcs_software.git
[submodule "ex2_sdr"]
	path = ex2_sdr
	url = git@github.com:AlbertaSat/ex2_sdr.git
